body {
    display: flex;
    margin: 0px;
    padding:0px;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
    background-color:  #211832;
    background-image: url("../images/pexels-tim-mossholder-1764702-.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; 
    background-position: center;
    font-family: Arial, sans-serif;
}

.nav_links {
    background-color: rgb(36, 36, 88);
    height: 3em;
    width: 40%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    position: relative; 
    top: 0; 
    right: 0;
    margin-left: auto;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%); */
}

.nav_link {
    color: white;
    font-size: 22px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
/* top and bottom | left and right      
   top | left and right | bottom     
   top | right | bottom | left */

/*  HOME  */
.content {
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 30px;
}

p.content {
    margin: 50px 20px 20px 70px;
    font-size: 17px;
    line-height: 26px;
    padding: 30px;
    width: 50%;

}

/*  ABOUT ME  */
div.content {
    margin: 50px 20px 20px 70px;
    padding: 20px;
    width: 55%;
    font-size: 17px;
}



/*  ALL PROJECT  */
h1 {
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 30px;
    font-size: 50px;
    margin: 50px 20px 20px 70px;
    padding: 30px 50px;
    display: block;
    width: fit-content; 
}

div.projects {
    width: 75%;
    margin: 50px 20px 20px 70px;
    padding: 30px 50px 20px 20px;
}

.project {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 50px; 
    width: 100%;
}
.project-image {
    width: 350px; 
    height: auto;
    margin: 0 20px 0 20px; 
    border-radius: 20px;
    /* border: .4px solid rgb(87, 87, 87); */
}
.project-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;  /*expand and take up available space */
    width: auto;
}
.project-info h2 {
    font-size: 28px; 
    margin: 0; 
    width: 40%;
}
 .title-date {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
}
.title-date h2 {
    width: auto;
}
.project-date {
    margin-left: auto; 
    white-space: nowrap; 
    font-weight: bold;
}
.project-description {
    margin-top: 10px; 
}
.needs-work {
    font-weight: bold;
}
.content-section p {
    margin-bottom: 0; 
    font-weight: bold;
    font-size: 16px;
}

.ul-list {
    margin-top: 0; 
    padding-left: 20px; 
}

.project-content {
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 30px;
}

/*  Mobile  */

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .nav_links {
        width: 100%; 
        flex-direction: column; 
        height: auto; 
    }

    .nav_link {
        font-size: 18px; 
    }

    .content, .projects, div.content {
        margin: 20px; 
        width: auto; 
        padding: 15px; 
    }

    h1.content, h1.projects, h1.index {
        font-size: 32px; 
        margin: 20px; 
        padding: 15px; 
    }

    p.content, .project-description {
        font-size: 15px; 
    }

    .project {
        flex-direction: column; 
        align-items: center; 
    }

    .project-image {
        display: block; 
        width: 90%; 
        margin: 20px auto;
        /* margin: 0 0 20px 0;  */
    }

    .project-info, .title-date {
        width: 100%; 
    }

    .title-date {
        flex-direction: column;
        
    }
    .project-info h2, .project-date {
        width: 100%; 
        display: block;
        text-align: center; 
    }
    /* .project-info h2 {
       
    } */

    .project-date {
        margin-top: 10px;
        align-items: flex-end; 
    }
}